<div class="card mt-4">
    <div class="card-header">
        <h4>Upload Document</h4>
    </div>
    <div class="card-body">
        <form action="{{ url_for('io.import_document')}}" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group row py-4">
                {{ form.name.label(class="col-sm-2 col-form-label", for="name") }}
                <div class="col-sm-7">
                    {{ form.name(class="form-control") }}
                </div>
            </div>
            <div class="form-group row py-4">
                {{ form.description.label(class="col-sm-2 col-form-label", for="description") }}
                <div class="col-sm-7">
                    {{ form.description(class="form-control", rows="4") }}
                </div>
            </div>
       
            <div class="form-group row py-4">
                {{ form.new_tag.label(class="col-sm-2 col-form-label", for="new_tag") }}
                <div class="col-sm-7">
                    {{ form.new_tag(class="form-control") }}
                </div>
            </div>
            <div class="form-group row py-4">
                <div class="col-sm-7">
                    {{ form.data_file(class="form-control-file") }}
                </div>
            </div>
            <div class="form-group row py-4">
                <div class="col-sm-7">
                    {{ form.submit(class="btn btn-dark") }}
                </div>
                <div class="col-auto align-self-end pb-4">
                    <h4>
                        <a href="/term/set/list">List prior imports</a>
                    </h4>
                </div>
            </div>
        </form>
    </div>
</div>