{% extends './base.jinja' %}

{% block title %}
YAMZ Import Terms
{% endblock %}

{% block headline %}
Test upload OWL
{% endblock headline %}

{% block content %}
<p>

{% for term in selected_terms %}
    term: {{term['term']}}<br>
    definition: {{term['definition']}}<br>
    example: {{term['examples']}}<p>
{% endfor %}
   
</p>

  

{% endblock content%}
