{% extends './base.jinja' %}

{% block title %}
YAMZ Import Terms
{% endblock %}

{% block headline %}
Test upload OWL
{% endblock headline %}

{% block content %}
<div>
{% for term in selected_terms %}
    term: {{term['term']}}<br>
    definition: {{term['definition']}}<br>
    examples: {{term['examples']}}<p>
{% endfor %}
   
<div>

  

{% endblock content%}
