<form method="post">
    {{ form.hidden_tag() }}
    <div class="card col-12" id="propertyCard">
        <h5 class="card-header">Add Property</h5>
        <div class="card-body">
            <!-- Lookup by ID Fields -->
            <div class="row mt-3">
                <!-- Subject ID Field -->
                <div class="col-4">
                    <div class="form-group">
                        <label for="subjectId" class="form-label">
                            Subject Term ID
                        </label>
                        {{ form.subject_id(class="form-control", id="subjectId", required=True) }}
                        <div id="subject_term_string" class="term-string"></div>
                        <div id="subject_definition" class="definition"></div>
                    </div>
                </div>
                <!-- Predicate ID Field -->
                <div class="col-4">
                    <div class="form-group">
                        <label for="predicateId" class="form-label">
                            Predicate
                        </label>
                        {{ form.predicate_id(class="form-control", id="predicateId", required=True) }}
                        <div id="predicate_term_string" class="term-string"></div>
                        <div id="predicate_definition" class="definition"></div>
                    </div>
                </div>
                <!-- Object ID Field -->
                <div class="col-4">
                    <div class="form-group">
                        <label for="objectId" class="form-label">
                            Object Term by ID
                        </label>
                        {{ form.object_id(class="form-control", id="objectId", required=True) }}
                        <div id="object_term_string" class="term-string"></div>
                        <div id="object_definition" class="definition"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group row py-4">
        <div class="col-sm-7">
            {{ form.submit(class="btn btn-dark") }}
        </div>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const subjectField = document.getElementById('subjectId');
        const predicateField = document.getElementById('predicateId');
        const objectField = document.getElementById('objectId');

        subjectField.addEventListener('input', () => fetchTermData(subjectField, 'subject'));
        predicateField.addEventListener('input', () => fetchTermData(predicateField, 'predicate'));
        objectField.addEventListener('input', () => fetchTermData(objectField, 'object'));


    });

    function fetchTermData(field, fieldName) {
        const conceptID = field.value;
        if (conceptID.length > 4) {
            fetch(`/term/api/${conceptID}`)
                .then(response => response.json())
                .then(data => {
                    if (data.term_string && data.definition) {
                        const termStringElement = document.getElementById(`${fieldName}_term_string`);
                        termStringElement.innerHTML = `<a href="/term/ark/${conceptID}">${data.term_string}</a>`;
                        document.getElementById(`${fieldName}_definition`).innerHTML = marked.marked(data.definition);
                    } else {
                        document.getElementById(`${fieldName}_term_string`).innerHTML = '';
                        document.getElementById(`${fieldName}_definition`).innerHTML = '';
                    }
                })
                .catch(error => console.error('Error fetching term data:', error));
        } else {
            document.getElementById(`${fieldName}_term_string`).innerHTML = '';
            document.getElementById(`${fieldName}_definition`).innerHTML = '';
        }
    }
</script>