<div class="container mt-4">
    <h5>Terms in this Term Set</h5>
    <ul class="list-group list-group-flush">
        {% for term in term_set.terms %}
        <li class="list-group-item list-group-item-action">
            <a href="{{ url_for('term.display_term', concept_id=term.concept_id) }}">{{ term.term_string }}</a>
        </li>
        {% endfor %}
    </ul>
</div>