{% extends './base.jinja' %}

{% block title %}
Term Set {{ term_set.name}}
{% endblock %}

{% block headline %}
Termset: {{ term_set.name}}
{% endblock headline %}

{% block content %}
<p>
    {{ term_set.description }}
    <br>
    created {{ term_set.created }}
    <br>
    {{ term_set.ark_concept_id}}
</p>

{% include 'term/_term_set_tags.jinja' %}
<div class="text-start" style="max-width: 800px;">
{% include 'term/_tag_selection.jinja' %}
</div>
<hr>


{% include 'term/_term_list.jinja' %}

{% endblock content%}