{% extends './base.jinja' %}

{% block title %}
{{ term_set.name}}
{% endblock %}

{% block headline %}
{{ term_set.name}}
{% endblock headline %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-auto" style="width: 120px;">
                <em>Description:</em>
            </div>
            <div class="col">
                <p class="mb-0">{{ term_set.description }}</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-auto" style="width: 120px;">
                <em>Created:</em>
            </div>
            <div class="col">
                <p class="mb-0">{{ term_set.created }}</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-auto" style="width: 120px;">
                <em>ARK:</em>
            </div>
            <div class="col">
                <p class="mb-0">ark:/{{ term_set.ark.full_ark }}</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-auto" style="width: 120px;">
                <em>Source:</em>
            </div>
            <div class="col">
                <p class="mb-0">
                    <a href="{{ url_for('term.download_file', filename=term_set.source) }}">{{ term_set.source }}</a>
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-start">
            <form action="{{ url_for('term.edit_term_set', term_set_id=term_set.id) }}" method="get" class="me-2">
                <button type="submit" class="btn btn-dark">Edit</button>
            </form>
            <form action="{{ url_for('term.delete_term_set', term_set_id=term_set.id) }}" method="post">
                <button type="submit" class="btn btn-dark">Delete</button>
            </form>
        </div>
    </div>
</div>

<div class="text-start" style="max-width: 800px;">
    {% include 'term/_term_set_tags.jinja' %}
    {% include 'term/_term_set_tag_selection.jinja' %}
</div>

<!-- Bootstrap Tabs -->
<ul class="nav nav-tabs" id="termSetTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="terms-tab" data-bs-toggle="tab" data-bs-target="#terms" type="button" role="tab" aria-controls="terms" aria-selected="true">Terms</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="relationships-tab" data-bs-toggle="tab" data-bs-target="#relationships" type="button" role="tab" aria-controls="relationships" aria-selected="false">Relationships</button>
    </li>
</ul>
<div class="tab-content" id="termSetTabsContent">
    <div class="tab-pane fade show active" id="terms" role="tabpanel" aria-labelledby="terms-tab">
        {% include 'term/_term_list.jinja' %}
    </div>
    <div class="tab-pane fade" id="relationships" role="tabpanel" aria-labelledby="relationships-tab">
       {% include 'term/_termset_relationships.jinja' %}
    </div>
</div>

{% endblock content %}