{% extends './base.jinja' %}

{% block title %}
Edit Term Set
{% endblock %}

{% block headline %}
Edit Term Set: {{ term_set.name }}
{% endblock headline %}

{% block content %}
<form action="{{ url_for('term.edit_termset', term_set_id=term_set.id) }}" method="post">
    {{ form.hidden_tag() }}
    {% include 'termset/_form_fields.jinja' %}
</form>

{% include 'term/_term_list.jinja' %}
{% endblock content %}