<form method="post">
    {{ form.hidden_tag() }}
    <div class="card col-7">
        <h5 class="card-header">Add Property</h5>
        <div class="card-body">
            <div class="row">
                <!-- Subject Field -->
                <div class="col-4">
                    <div class="form-group">
                        <label for="subject" class="form-label">
                            {{ form.subject.label.text }}
                        </label>
                        {{ form.subject(class="form-control", id="subject") }}
                    </div>
                </div>
                <!-- Predicate Field -->
                <div class="col-4">
                    <div class="form-group">
                        <label for="predicate" class="form-label">
                            {{ form.predicate.label.text }}
                        </label>
                        {{ form.predicate(class="form-control", id="predicate") }}
                    </div>
                </div>
                <!-- Object Field -->
                <div class="col-4">
                    <div class="form-group">
                        <label for="object" class="form-label">
                            {{ form.object.label.text }}
                        </label>
                        {{ form.object(class="form-control", id="object") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="autoComplete_wrapper">
    <input id="autoComplete" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off"
        autocapitalize="off">
</div>
<script>
    const autoCompleteJS = new autoComplete({
        placeHolder: "Search for term...",
        data: {
            src: ["Sauce - Thousand Island", "Wild Boar - Tenderloin", "Goat - Whole Cut"],
            cache: true,
        },
        resultItem: {
            highlight: true
        },
        events: {
            input: {
                selection: (event) => {
                    const selection = event.detail.selection.value;
                    autoCompleteJS.input.value = selection;
                }
            }
        }
    });
</script>