<form method="POST" action="{{ url_for('term.add_subclass', term_set_id=term_set.id) }}">
    {{ subclass_form.hidden_tag() }}
    {{ subclass_form.csrf_token }}
    <div class="form-group">
        <p id="parentTermString" class="form-control-plaintext fw-bold mb-0"></p>
    </div>
    <div class="form-group">
        <p id="parentTermDefinition" class="form-control-plaintext mb-1"></p>
    </div>
    <div class="form-group mb-3">
        {{ subclass_form.child_id.label }} 
        {{ subclass_form.child_id(class="form-control mb-3", id="childId", required=True) }}
        <div id="child_term_string" class="term-string fw-bold"></div>
        <div id="child_definition" class="definition"></div>
    </div>
    <input type="hidden" id="parentTermId" name="parent_term_id">
    <div class="form-group">
        {{ subclass_form.submit(class="btn btn-dark btn-sm") }}
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const childField = document.getElementById('childId');

        childField.addEventListener('input', () => fetchTermData(childField, 'child'));
    });

    function fetchTermData(field, fieldName) {
        const conceptID = field.value;
        if (conceptID.length > 4) {
            fetch(`/term/api/${conceptID}`)
                .then(response => response.json())
                .then(data => {
                    if (data.term_string && data.definition) {
                        const termStringElement = document.getElementById(`${fieldName}_term_string`);
                        termStringElement.innerHTML = `<a href="/term/ark/${conceptID}">${data.term_string}</a>`;
                        document.getElementById(`${fieldName}_definition`).innerHTML = marked.marked(data.definition);
                    } else {
                        document.getElementById(`${fieldName}_term_string`).innerHTML = '';
                        document.getElementById(`${fieldName}_definition`).innerHTML = '';
                    }
                })
                .catch(error => console.error('Error fetching term data:', error));
        } else {
            document.getElementById(`${fieldName}_term_string`).innerHTML = '';
            document.getElementById(`${fieldName}_definition`).innerHTML = '';
        }
    }
</script>