<form method="POST" action="{{ url_for('term.add_subclass', term_set_id=term_set.id) }}">
    {{ subclass_form.hidden_tag() }}
    {{ subclass_form.csrf_token }}
    <div class="form-group">
        <p id="termString" class="form-control-plaintext fw-bold mb-0"></p>
    </div>
    <div class="form-group">
        <p id="termDefinition" class="form-control-plaintext mb-1"></p>
    </div>
    <div class="form-group">
        {{ subclass_form.subject.label }} 
        {{ subclass_form.subject }}
    </div>
    <input type="hidden" id="parentTermId" name="parent_term_id">
    <div class="form-group">
        {{ subclass_form.submit }}
    </div>
</form>