{% extends './base.jinja' %}

{% block title %}
{{ term_set.name}}
{% endblock %}

{% block headline %}
Term Set
{% endblock headline %}

{% block content %}
<div class="card">
    <div class="card-header" style="font-size: 1.5rem; font-weight: bold;">
        {{ term_set.name }}
    </div>
    <div class="card-body">
        <div class="row mb-2">
            <div class="col-auto" style="width: 120px;">
                <em>Description:</em>
            </div>
            <div class="col">
                <p class="mb-0">{{ term_set.description }}</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-auto" style="width: 120px;">
                <em>Created:</em>
            </div>
            <div class="col">
                <p class="mb-0">{{ term_set.created }}</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-auto" style="width: 120px;">
                <em>ARK:</em>
            </div>
            <div class="col">
                <p class="mb-0">ark:/{{ term_set.ark.full_ark }}</p>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-auto" style="width: 120px;">
                <em>Source:</em>
            </div>
            <div class="col">
                <p class="mb-0">
                    <a href="{{ url_for('term.download_file', filename=term_set.source) }}">{{ term_set.source }}</a>
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <form action="{{ url_for('term.edit_termset', term_set_id=term_set.id) }}" method="get" class="me-2">
                <button type="submit" class="btn btn-sm btn-dark">Edit</button>
            </form>
            <button type="button" class="btn btn-sm btn-dark me-2" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete
            </button>
            <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#copyModal">
                Create From
            </button>
        </div>
    </div>
</div>

<div class="text-start" style="max-width: 800px;">
    {% include 'termset/_tags.jinja' %}
    {% include 'termset/_tag_selection.jinja' %}
</div>

<!-- Bootstrap Tabs -->
<ul class="nav nav-tabs" id="termSetTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="terms-tab" data-bs-toggle="tab" data-bs-target="#terms" type="button"
            role="tab" aria-controls="terms" aria-selected="true">Terms</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="relationships-tab" data-bs-toggle="tab" data-bs-target="#relationships"
            type="button" role="tab" aria-controls="relationships" aria-selected="false">Relationships</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="classes-tab" data-bs-toggle="tab" data-bs-target="#classes" type="button"
            role="tab" aria-controls="classes" aria-selected="false">Classes</button>
    </li>
</ul>
<div class="tab-content" id="termSetTabsContent">
    <div class="tab-pane fade show active" id="terms" role="tabpanel" aria-labelledby="terms-tab">
        {% include 'term/_term_list.jinja' %}
    </div>
    <div class="tab-pane fade" id="relationships" role="tabpanel" aria-labelledby="relationships-tab">
        {% include 'termset/_relationships.jinja' %}
    </div>
    <div class="tab-pane fade" id="classes" role="tabpanel" aria-labelledby="classes-tab">
        {% include 'termset/_classes.jinja' %}
    </div>
</div>


<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this term set?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="{{ url_for('term.delete_term_set', term_set_id=term_set.id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Copy Confirmation Modal -->
<div class="modal fade" id="copyModal" tabindex="-1" aria-labelledby="copyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="copyModalLabel">Confirm Copy</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to copy this term set?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form action="{{ url_for('term.copy_termset', term_set_id=term_set.id) }}" method="post">
                    <button type="submit" class="btn btn-primary">Copy</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}